<div class="ui grid">
  <div class="sixteen wide column">

    <h3>Why Oustanding</h3>
    <p>Let yourself grow with Oustanding. We're here to develop your abilities, creativity and desire. Our educators are the best in the business, with the tools and knowledge to help you succeed. We'll provide the foundational knowledge, practical training and business-building skills you need, all rooted in the Aveda mission of care and well-being.</p>

  </div>
</div>

<div class="ui grid">
  <div class="eleven wide column">
    <div class="why_main_menus">
      <h3>Brief History</h3>
      <p>From the fashion runways of New York to hundreds of local neighborhoods, Aveda stylists practice virtually everywhere. In 1977, the first Aveda Institute opened its doors in Minneapolis, Minnesota. Today Aveda offers training programs in nearly 60 American cities, as well as Canada and Australia.</p>
    </div>

    <div class="why_main_menus">
      <h3>Career Paths</h3>
      <p>Our higher purpose it to help you meet your full potential, from planning your career path to designing your life choices. Aveda Institutes students have gone on to accomplish their goals and more. They're the salon owners, makeup artists and massage therapists who create the modern world of beauty. With the skills you learn at an Aveda Institute, you'll be prepared to run your own business, work backstage at Fashion Week and provide caring, complete service for your guests.</p>
      <div class="ui animated button" tabindex="0">
        <div class="visible content">LEARN MORE</div>
        <div class="hidden content">
          <i class="icon right arrow"></i>
        </div>
      </div>
    </div>

    <div class="why_main_menus">
      <h3>Galleries</h3>
      <p>Check out some of the amazing opportunities the Aveda Institute Network students were able to participate in to give back to society as well as gain professional experience.</p>
      <div class="ui animated button" tabindex="0">
        <div class="visible content">VIEW GALLERIES</div>
        <div class="hidden content">
          <i class="icon right arrow"></i>
        </div>
      </div>
    </div>

    <div class="why_main_menus">
      <h3>Word of Mouth</h3>
      <p>The Outstanding Training School are a great place to begin your career in the worlds of wellness and beauty. But you don’t have to take our word for it - see what others are saying.</p>
      <div class="ui animated button" tabindex="0">
        <div class="visible content">READ MORE</div>
        <div class="hidden content">
          <i class="icon right arrow"></i>
        </div>
      </div>
    </div>

  </div>

  <div class="four wide column">
    <div class="ui large image">
      <img src="images/why/janelle-geason.jpg" alt="">
    </div>
    <h3>Featured Alumni</h3>
    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    <div class="ui animated button" tabindex="0">
      <div class="visible content">READ MORE</div>
      <div class="hidden content">
        <i class="icon right arrow"></i>
      </div>
    </div>
  </div>

</div>
