<div class="ui grid">

  <div class="four wide column">

    <h3>Request Information</h3>
    <p>Ready to take the next step? It’s time to get personal. Just tell us a little about yourself and the program that interests you, and one of our Admissions Advisors will be in touch—because it’s just as important to us as it is to you that your education be the perfect fit.</p>

  </div>

  <div class="ten wide column">

    <!-- Request Information -->
    <%- include ../body/request_info %>

  </div>

</div>
