<div id="student_programs">

  <div id="student_programs_contents" class="ui center aligned header">
    <h3> Student Programs </h3>
    <div class="content">
      <p>Choose to be part of the Oustanding success story. We’ll put you on the path to a thriving career with our customized programs! An Oustanding education gives you all the tools you’ll need to create the career you want and we do it all by using the purest form of beauty technology available. Below is an overview of the most popular programs offered at Oustanding Beauty School. Be sure to visit each Oustanding Beauty School’s site directly to see the programs they offer.</p>
    </div>
  </div>

  <div id="student_programs_contents" class="ui center aligned header">
    <h3> Important Message from Outstanding </h3>
    <div class="content">
      <p>LEGAL DISCLAIMER: This Oustanding Beauty Training Center websites are made available to you on this Site for your convenience and information. Oustandinb Beauty Training Center is not responsible for the content of these third party Institutes’ sites or any statements made therein.</p>
    </div>
  </div>

</div>
