<div id="student_menu">

  <div class="ui equal width grid">
    <div class="column">
      <img src="/images/programs/Cosmetology.png" alt="" class="ui small centered image">
      <h3> Cosmetology </h3>
      <p>As a cosmetologist, you'll have endless opportunities, both in-salon and out. Be a hair stylist, color artist or find your own niche—say, as a wedding stylist, runway artist, salon owner, image consultant or beauty media expert.</p>
      <div class="ui animated button" tabindex="0">
        <div class="visible content">Learn More</div>
        <div class="hidden content">
          <i class="icon right arrow"></i>
        </div>
      </div>
    </div>

    <div class="column">
      <img src="/images/programs/esthiology.png" alt="" class="ui small centered image">
      <h3> Esthiology </h3>
      <p>As an esthetician, you can find your ideal salon or spa setting, or choose from a variety of paths: instructor, retail sales, managing your own spa, medical spa specialist or even an esthetician to resorts, hotels and more.</p>
      <div class="ui animated button" tabindex="0">
        <div class="visible content">Learn More</div>
        <div class="hidden content">
          <i class="icon right arrow"></i>
        </div>
      </div>
    </div>

    <div class="column">
      <img src="/images/programs/Massage-Therapy.png" alt="" class="ui small centered image">
      <h3> Massage Therapy </h3>
      <p>As a massage therapist, you'll have your choice of specialties, from wellness practice at salons and spas, to chiropractic, physical therapy, or sports medicine environments.</p>
      <div class="ui animated button" tabindex="0">
        <div class="visible content">Learn More</div>
        <div class="hidden content">
          <i class="icon right arrow"></i>
        </div>
      </div>
    </div>



  </div>


</div>
