<div id="privacy">

  <div id="privacy_contents" class="ui left aligned header">

    <h3> Privacy Policy </h3>
    <br>
    <p>Effective: September 1st, 2016</p>


    <p class="ui center aligned header">Outstaning Beauty Training Center US Privacy Policy</p>
    <br>
    <br>

    <div class="content">
      <p>The Outstanding Training Center and Outstanding Training Center (“we, us, or our”) respect your concerns about privacy and value the relationship we have with you.  This Privacy Policy describes the types of personal information we collect on the Outstanding Training Center website, how we use the information, with whom we share it, and the choices available to you regarding our use of the information.  We also describe the measures we take to protect the security of the information and how you can contact us about our privacy practices.</p>
    </div>

    <h3> Information We Collect </h3>
    <div class="content">
      <p>We may obtain personal information about you from various sources.  We may collect this information when you provide it at one of our Outstanding Training Center or on our website.  This Privacy Policy does not address the information practices of Outstanding stores or other Outstanding Training Center managed by parties other than Outstanding Training Center. Such other Outstanding Training Center may have their own privacy notices or policies, which we strongly suggest you review when you provide them with your personal information. We are not responsible for such other Outstanding Training Center’ personal information practices. When you visit this site, we also collect certain information by automated means, using technologies such as cookies, web server logs and web beacons.</p>
    </div>

    <h3> Information You Provided </h3>
    <div class="content">
      <p>You may choose to provide personal information to us in a number of ways, such as when you decide to complete an application or other registration form.  The types of personal information you may provide to us includes:</p>
      <ul>
        <li>Contact information (such as name, postal address, email address, and mobile or other phone number)</li>
        <li>Age and date of birth</li>
        <li>Gender</li>
        <li>Username and password</li>
        <li>Payment information (such as your payment card number, expiration date, delivery address, and billing address)</li>
        <li>Contact information for friends or other people you would like us to contact</li>
        <li>Content you provide (such as photographs, articles and comments)</li>
      </ul>
    </div>

    <h3> How We Use The Information </h3>
    <div class="content">
      <p>We may use the information you provide to:</p>
      <ul>
        <li>Send you promotional materials or other communications regarding the Outstanding-owned Outstanding Training Center</li>
        <li>Provide services to you</li>
        <li>Process your payment card transactions</li>
        <li>Create and manage your online account</li>
        <li>Respond to your inquiries</li>
        <li>Forward your information to the Outstanding Institute you are interested in so that Institute may contact you</li>
        <li>Operate, evaluate and improve our business (including developing new products and services; managing our communications; analyzing our products; performing data analytics; and performing accounting, auditing and other internal functions)</li>
        <li>Comply with applicable legal requirements, relevant industry standards and our policies</li>
      </ul>
      <br>
      <p>We also may use the information in other ways for which we provide specific notice at the time of collection.</p>
    </div>

    <h3> Technologies We Use </h3>
    <h3> Cookies, Web Server Logs and Web Beacons </h3>
    <div class="content">
      <p>Cookies are small text files that websites send to your computer or other Internet-connected device to uniquely identify your browser or to store information or settings in your browser.  Your browser may tell you how to be notified when you receive certain types of cookies and how to restrict or disable certain cookies.  Please note, however, that without cookies you may not be able to use all of the features of our website.  In conjunction with obtaining information through cookies, our web servers may log details such as your operating system type, browser type, domain, and other system settings, as well as the language your system uses and the country and time zone in which your device is located.  The web server logs also may record information such as the address of the web page that linked you to our site and the IP address of the device you use to connect to the Internet.</p>
      <p>To control which web servers collect this information, we may place tags on our web pages called “web beacons.”  These are computer instructions that link web pages to particular web servers and their cookies.</p>
    </div>

    <h3> Third Party Web Analytics Services </h3>
    <div class="content">
      <p>We may use third party web analytics services on this site.   Such third party web analytics service providers may include, but is not limited to, Coremetrics and Google Analytics.  The service providers that administer these services use technologies such as cookies, web server logs and web beacons to help us analyze how visitors use the site. The information collected through these means (including IP address) is disclosed to these service providers, who use the information to evaluate use of the website. You may deactivate the ability of Coremetrics to analyze your browsing activities on this site.</p>
    </div>

    <h3> How We Use the Information Collected by Automated Means </h3>
    <div class="content">
      <p>We may use the information collected through automated means on this site for market research, data analytics and system administration purposes, such as to determine whether you’ve visited us before or are new to the site, and for compliance with our legal obligations, policies and procedures, including compliance with relevant industry standards and the enforcement of our <a href="/terms">Terms and Conditions</a>. We also may use the information in other ways for which specific notice is provided at the time of collection.</p>
    </div>

    <h3> Information We Share </h3>
    <div class="content">
      <p>We do not sell or otherwise disclose personal information we collect about you, except as described here.  We may share your personal information with:</p>

      <ul>
        <li>Our affiliates</li>
        <li>Service providers who perform services on our behalf based on our instructions.  We do not authorize these service providers to use or disclose the information except as necessary to perform services on our behalf or comply with legal requirements.  Examples of these service providers include entities that process credit card payments, fulfill orders, and provide web hosting and marketing services.</li>
        <li>We will forward the information you provide on this site to the Outstanding Institute you are interested in, which may be managed by third parties other than the Outstanding Training Center.  These Institutes operate independently from Outstandinginstitutes.com and may have their own privacy policies in place, which we strongly suggest you review.  We may also provide links to websites of other Outstanding Training Center managed by third parties for your convenience and information.  We are not responsible for the content or any use of the linked sites.</li>
        <li>Other third parties with your consent.</li>
      </ul>

      <p>In addition, we may disclose information about you (i) if we are required to do so by law or legal process, (ii) to law enforcement authorities or other government officials, or (iii) when we believe disclosure is necessary or appropriate to prevent physical harm or financial loss, or in connection with an investigation of suspected or actual fraudulent or illegal activity.</p>

      <p>We also reserve the right to transfer personal information we have about you in the event we sell or transfer all or a portion of our business or assets.  Should such a sale or transfer occur, we will use reasonable efforts to direct the transferee to use personal information you have provided to us in a manner that is consistent with our Privacy Policy.  Following such a sale or transfer, you may contact the entity to which we transferred your personal information with any inquiries concerning the processing of that information.</p>
    </div>

    <h3> Your Rights and Choices </h3>
    <div class="content">
      <p>We offer you certain choices in connection with the personal information we collect from you, such as how we use the information and how we communicate with you.  To update your preferences, ask us to remove your information from our mailing lists or submit a request, please contact us as specified below.</p>
      <ul>
        <li>You may choose whether or not you would like your information to be forwarded to the Outstanding Institute you are interested in, which may be managed by a third party.  You may change your preference by emailing us at <a href="mailto:liweibeauty88@gmail.com">liweibeauty88@gmail.com</a> and specifying that this is your preference.</li>
        <li>Email Opt-Out</li>
      </ul>
      <br>
      <p>You can at any time tell us not to send you communications by email by clicking on the unsubscribe link within the emails you receive from us or by contacting us as indicated below.  You also may opt out of receiving emails from Outstanding Training Center regarding the Outstanding Training Center by emailing <a href="mailto:liweibeauty88@gmail.com">liweibeauty88@gmail.com</a>. Please note that if you agreed to receive emails from an Outstanding Institute managed by a third party other than Outstanding Training Center, you should contact that Outstanding Institute of your preferences.</p>
      <br>
      <ul>
        <li>Postal Mail Opt-Out</li>
      </ul>
      <br>
      <p>You can ask Outstanding Training Center to stop sending you communications by postal mail by following the instructions that may be included in that communication.  You also can request that we refrain from sending you postal mail by contacting us as indicated below.  Please note that if you agreed to receive postal mail from an Outstanding Institute managed by a third party other than Outstanding Training Center, you should contact that Outstanding Institute of your preferences.</p>
      <br>
      <ul>
        <li>Text Message Opt-Out</li>
      </ul>
      <br>
      <p>If you so elect, you may provide your mobile phone number in order to receive text message alerts from the Outstanding Institute in which you are interested (“Text Messages”).  There is no fee from Outstanding Training Center to receive Text Messages, however, your mobile service provider may charge you for sending and/or receiving text messages and air-time, as well as any other standard applicable rates charged by your mobile service provider.</p>
    </div>

    <h3> Data Transfer </h3>
    <div class="content">
      <p>We may transfer the personal information we collect about you to countries other than the country in which the information was originally collected.  Those countries may not have the same data protection laws as the country in which you initially provided the information.  When we transfer your information to other countries, we will protect that information as described in this Privacy Policy.</p>
    </div>

    <h3> How We Protect Personal Information </h3>
    <div class="content">
      <p>We maintain appropriate administrative, technical and physical safeguards designed to protect the personal information you provide against accidental, unlawful or unauthorized destruction, loss, alteration, access, disclosure or use.</p>
    </div>

    <h3> Links To Other Websites </h3>
    <div class="content">
      <p>Our website may provide links to other websites for your convenience and information.  These websites may operate independently from us.  Linked sites may have their own privacy notices or policies, which we strongly suggest you review if you visit any linked websites.  To the extent any linked websites you visit are not owned or controlled by us, we are not responsible for the sites’ content, any use of the sites, or the privacy practices of the sites.</p>
    </div>

    <h3> Updates To Our Privacy Policy </h3>
    <div class="content">
      <p>This Privacy Policy may be updated periodically and without prior notice to you to reflect changes in our personal information practices.  We will post a prominent notice on our website to notify you of any significant changes to our Privacy Policy and indicate at the top of the Policy when it was most recently updated.</p>
    </div>

    <h3> How To Contact Us </h3>
    <div class="content">
      <p>If you have any questions or comments about this Privacy Policy, or if you would like us to update information we have about you or your preferences, please contact us by email at <a href="mailto:liweibeauty88@gmail.com">liweibeauty88@gmail.com</a> or telephone at 1.800.644.4831.  You also may write to:</p>

      <p>
        Oustanding Beauty Training center
        <br>
        90 Bowery Street Suite 405
        <br>
        New York, NY 10013
      </p>
      <p>Please note that if you have provided information to an Outstanding Institute managed by a third party other than Outstanding Training Center, you should contact that Outstanding Institute.</p>
    </div>


  </div>

</div>
