$footer_background_color: #666;
$footer_font_color: #f2f2f2;
$footer_disclaimer_color: #999;


#footer{

padding-top: 60px;
padding-left: 50px;
padding-right: 50px;
margin-top: 50px;

background-color: $footer_background_color;
color: $footer_font_color;

#footer_horizontal_menu{
  padding-bottom: 25px;

  a {
    color: $footer_font_color;
  }
}

#footer_disclaimer{
  color: $footer_disclaimer_color;
}


}
