<div id="footer" class="ui grid">

  <!-- Legal Disclaimer -->
  <div class="twelve wide column">
    <h5>@2016 Outstanding Beauty Training Center. All rights reserved.</h5>

    <!-- Horizontal Menu List -->
    <div id="footer_horizontal_menu" class="ui horizontal list">
      <div class="item">
        <div>|</div>
      </div>

      <div class="item">
        <div class="content"><a href="/">outstandinbeautyschool.com</a></div>
      </div>

      <div class="item">
        <div>|</div>
      </div>

      <div class="item">
        <div class="content"><a href="#">Employment Opportunities</a></div>
      </div>

      <div class="item">
        <div>|</div>
      </div>

      <div class="item">
        <div class="content"><a href="#">Privacy Policy</a></div>
      </div>

      <div class="item">
        <div>|</div>
      </div>

      <div class="item">
        <div class="content"><a href="#">Terms & Conditions</a></div>
      </div>
    </div>

    <!-- Disclaimer -->
    <div id="footer_disclaimer">
      <p>LEGAL DISCLAIMER: * These Oustanding Beauty Training Center websites are made available to you on this Site for your convenience and information. Oustandinb Beauty Training Center is not responsible for the content of these third party Institutes’ sites or any statements made therein.</p>
    </div>

  </div>

  <div class="four wide column centered">
    <div class="ui horizontal list">
      <div class="item">
        <i class="icon facebook square big teal"></i>
      </div>
      <div class="item">
        <i class="icon instagram big teal"></i>
      </div>
      <div class="item">
        <i class="icon weibo big teal"></i>
      </div>
      <div class="item">
        <i class="icon wechat big teal"></i>
      </div>
    </div>
  </div>

  <!-- google translator -->
  <div id="google_translate_element"></div>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
