<div class="ui grid">

  <div class="four wide column">
    <h3>Frequently Asked Questions</h3>
    <p>We like people who ask questions. It's one of the qualities that made us a pioneering brand, with exceptional educators. So we want you to have all the information you need to make the best decision for your future. Here's a start, and when you want to know more, we're here.</p>

  </div>

  <div class="ten wide column">

    <div class="menu_items">
      <h3>Programs</h3>
      <h4><Strong>Q: </Strong>What programs do you offer?</h4>
      <p>Aveda is a global, environmentally pioneering company founded in 1978. A widely recognized, path-blazing brand of nature-based products for hair, skin, body and well-being. Beyond our reputation for retail excellence, we’re acclaimed for our salon/spa network—made up of like-minded industry trendsetters, award-winners, and educators, supported at every step of their creative and business growth.</p>
      <p>In all, we champion best-business practices: “Our mission at Aveda is to care for the world we live in, from the products we make to the ways in which we give back to society. At Aveda, we strive to set an example for environmental leadership and responsibility, not just in the world of beauty, but around the world.” – Horst Rechelbacher</p>
    </div>

    <div class="menu_items">
      <h3>Career Paths?</h3>
      <h4><Strong>Q: </Strong>Are my skills learned able to transfer into other non-Aveda lines?</h4>
      <p>Yes! Although Aveda has its own special techniques within the basic technical skills, Aveda Institutes stand out for the way the students incorporate value-added services of making every guest’s experience a part of their training. Aveda teaches students how going above and beyond a basic requirement will help grow their business once graduated, proiding them the essential technical skills as well as those “critical to success” soft skills.</p>
      <h4><Strong>Q: </Strong>What kind of job opportunities are available?</h4>
      <p>You will have many career opportunities, regardless of what program you complete. From owning your own salon or spa to commercial and Hollywood work, there’s a fit for everyone! Whether this is something you’ve thought about for years or just began to interest you recently, we think you’ll find the beauty and wellness industry exciting and creative. You owe it to yourself to take out motto to heart and “Do What You Love, Love What You Do.”</p>
      <p>Some of the Career Paths our graduates have pursued include: Hair Stylist, Make-up Artist, Manicurist, Sales Representative, Texture Specialist, Hair Color Specialist, Salon/Spa Manager, Salon/Spa Owner, Educator, State Board Member or Inspector, Educational Director for a product manufacturer, Consultant Trainer, School Owner, Freelance Makeup Artist, Product Development, Marketing, Stylist. Several Aveda employees and Aveda Institutes empolyees are also alumni!</p>
    </div>

    <div class="menu_items">
      <h3>Career Paths?</h3>
      <h4><Strong>Q: </Strong>What makes Aveda different from other beauty schools?</h4>
      <p>You have a lot of choices out there, but the experience you’ll gain from an Aveda Institute education is like no other. With the Aveda methods behind everything we do, our students enter the industry with the necessary technical and professional skills. In fact, we often hear from salon owners that our new graduates surpass their more experienced service providers with other training backgrounds.</p>
      <h4><Strong>Q: </Strong>Why get an Aveda education?</h4>
      <p>The Aveda difference is our holistic vision of what it means to be successful. More than teaching hair, skin care and body care techniques, our unique, salon-like environment puts you behind the chair in direct contact with clients, for personal, practical experience. We impart real-world retail and business skills, and strategic insights that help you find—and take best advantage of—the tremendous opportunities in beauty and wellness.</p>
    </div>
  </div>

</div>
