
<!-- Main Nav Bar -->
<div id="topFixedMenu" class="ui top fixed borderless menu">

  <!-- Left Logo -->
  <div class="item">
    <a href="/" class="ui tiny image">
      <img src="/images/logo/logo.png">
    </a>
  </div>

  <!-- Right Menu -->
  <div class="right menu">
    <a href="/programs" class="vertically fitted item">PROGRAMS</a>
    <a href="/why" class="vertically fitted item">WHY OUTSTANDING</a>
    <a href="/faq" class="vertically fitted item">FAQ</a>
    <a id="reqeustInfo" href="/request" class="vertically fitted item">REQUEST INFO</a>
  </div>

</div>
