<div id="card_menu" class="ui centered cards">
  <div class="card">
    <div class="content">
      <div class="header">Come with a Dream, Leave with a Skilled Trade</div>
      <div class="description">
        Oustanding Beauty School aim to provide you with innovative new techniques and modern methods for every service, while still honoring the Earth and environment.
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class=""></i>
      DISCOVER CAREER PATHS
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Find Your Location Here!</div>
      <div class="description">
        Find beauty everywhere: with 65 Oustanding Beauty School, you can follow your dream close to home, or anywhere else it takes you. Whichever Institute you choose, you'll be inspired by passionate educators.
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class=""></i>
      EXPLORE LOCATIONS
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Signature Oustanding Experience</div>
      <div class="description">
        Some of the finest artists in our industry have studied at Oustanding. We're proud to say that the student performing your service may be one of those award-winning professionals of the future. They're groomed for greatness.
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class=""></i>
      VISIT GUEST SERVICES
    </div>
  </div>
</div>
