<div id="request_info" class="request_info">

  <div class="container"></div>
  <div>
    <h3>Go Beyong Beauty School</h3>
    <p>Ready to take the next step? Request More Information Today!</p>
  </div>

  <div id="request_info_form" class="ui equal width form">

    <div class="fields">
      <div class="field">
        <label>First Name *</label>
        <input type="text">
      </div>

      <div class="field">
        <label>Last Name *</label>
        <input type="text">
      </div>

      <div class="field">
        <label>Email *</label>
        <input type="text">
      </div>

      <div class="field">
        <label>Phone *</label>
        <input type="text">
      </div>
    </div>

    <div class="fields">
      <div class="field">
        <label>Desired School: *</label>
        <select>
          <option value="">None</option>
          <option value="COSMETOLOGY SCHOOL">COSMETOLOGY SCHOOL </option>
          <option value="ESTHIOLOGY SCHOOL">ESTHIOLOGY SCHOOL</option>
          <option value="MASSAGE THERAPY SCHOOL">MASSAGE SCHOOL</option>
          <option value="OTHER">OTHER</option>
        </select>
      </div>
      <div class="field">
        <label>Programs: *</label>
        <select>
          <option value="">None</option>
          <option value="COSMETOLOGY">COSMETOLOGY</option>
          <option value="ESTHIOLOGY">ESTHIOLOGY</option>
          <option value="MASSAGE THERAPY">MASSAGE</option>
          <option value="OTHER">OTHER</option>
        </select>
      </div>
    </div>
    <p>By clicking the SUBMIT button as my official signature, I expressly consent to Oustanding Training Center representatives contacting me via telephone, text, email or prerecorded message using automated telephone technology regarding Oustanding Training Center programs, events and announcements. I understand that consent is not required to purchase goods or services from Oustanding Training Center and that I may withdraw my consent at any time by contacting the Oustanding Training Center I requested information from.</p>

    <div id="submit_button" class="ui submit button">Submit</div>
  </div>




</div>
