<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Head partial -->
  <%- include ../partials/head %>

</head>
<body>
  <!-- Main Nav Bar -->
  <div class="mainNavBar">
    <%- include ../partials/navbars/main_nav %>
  </div>

  <!-- Main Body -->
  <div id="body" class="mainBody">
    <h3>Request Info</h3>
  </div>

  <!-- Fotter -->
  <div class="mainFooter">
    <%- include ../partials/footer/main_footer %>
  </div>

</body>
</html>
